.todo__container {
  position: relative;
}

.todo__content {
  padding: 1rem;
  border-radius: 4px;
  background: var(--c-white);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  transition: box-shadow 0.2s ease 0s;
  width: 300px;
  min-height: 11.875rem;
  box-shadow: var(--card-shadow-light);
}

.todo__content:hover {
  box-shadow: var(--card-shadow-hover);
}

.todo__inner {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.todo__inner > :not(:last-child) {
  margin-bottom: 0.25rem;
}

.todo__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 30px;
}

.todo__header > span > button {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  color: var(--c-gray500);
}

.todo__title {
  font-family: var(--f-text);
  font-style: normal;
  margin: 0.25em 0px 0px;
  color: var(--c-gray100);
  font-weight: bold;
  font-size: 1.0625rem;
  line-height: 1.3em;
}

.todo__description {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.8125rem;
  line-height: 1.461;
  white-space: pre-line;
  flex: 1 1 0%;
}

.todo__footer {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  align-items: flex-end;
}

.todo__footer > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  min-width: 6rem;
  padding: 5px 1rem;
  border: 2px solid var(--c-blue100);
  border-radius: 27px;
  background: transparent;
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s, border 0.3s ease 0s;
}

.todo__footer > button:hover {
  border-color: var(--c-blue400);
}

.todo__footer > span {
  font-family: var(--f-text);
  font-style: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.6875rem;
  font-weight: bold;
  display: flex;
  padding: 2px 17px;
  border: 1px solid var(--c-blue100);
  border-radius: 2px;
  flex-shrink: 0;
}
