.container {
  position: relative;
  margin: 0.875rem 0px 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: left / right;
}

.container > span {
  background: var(--c-white);
  padding: 0px 0.875rem;
  color: var(--c-gray500);
  margin: 0px auto;
}

.container > span > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px;
  color: var(--c-gray500);
}

.container > hr {
  border: none;
  height: 2px;
  background: var(--c-blue100);
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -1px;
  right: 0px;
  z-index: -1;
}