.header {
  flex-shrink: 0;
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  display: flex;
  align-items: center;
  height: var(--h-header);
  position: relative;
  z-index: 3;
  padding-right: var(--p-spacing);
  padding-left: var(--p-spacing);
  grid-column-start: left;
  grid-column-end: right;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  /* overflow-x: scroll; */
  scrollbar-width: none;
}

.logo {
  flex-grow: 1;
  margin-right: 1rem;
}

.logo > a {
  display: block;
  line-height: 0;
}

.logo > div {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
}

.logo > div > button {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s;
  border-radius: 100%;
  cursor: pointer;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.content > nav {
  flex-shrink: 0;
  display: flex;
  padding: 0 1rem;
}

.content > nav > *:not(:last-child) {
  margin-right: 3.75rem;
}

.content > nav > a {
  font-family: var(--f-text);
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.6875;
  text-decoration: none;
  color: var(--c-gray500);
}

.content > nav > a:hover {
  text-decoration: underline;
}

.content > nav > a:last-of-type {
  font-weight: bold;
  color: var(--c-blue500);
}

.content > nav > a:nth-last-of-type(2) {
  font-weight: bold;
  color: var(--c-gray100);
}

.active {
  color: var(--c-blue500) !important;
  border-bottom: 2px solid var(--c-blue500);
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .container::before,
  .container::after {
    content: none;
  }

  .content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
    overflow: visible;
    height: unset;
  }

  .logo {
    flex-grow: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 0;
  }

  .logo > a {
    flex-grow: 1;
  }

  .logo > div > button {
    display: flex;
  }

  .content > nav {
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 12vh;
    max-height: 86vh;
    width: 100%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .content > nav > a {
    font-family: var(--f-heading);
    font-size: 1.5rem;
    line-height: 1.6;
    margin-right: 0;
    display: flex;
    align-items: center;
  }

  .active {
    color: var(--c-blue500) !important;
    font-weight: bold;
    border-bottom: none;
    text-decoration: none !important;
  }

  .content > nav > *:not(:last-child) {
    margin-right: 0;
  }

  .closedNav {
    display: none !important;
  }

  .openNav {
    display: flex !important;
    pointer-events: all;
  }
}
