.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.container > form {
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

.container > form > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8.125rem;
  margin-bottom: 9.375rem;
}

.leftSide,
.rightSide {
  display: block;
}

.leftSide > p,
.rightSide > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
}

.leftSide > div {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.leftSide > div > *:not(:last-child) {
  margin-bottom: 10px;
}

.leftSide > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  position: relative;
  width: 100%;
  color: var(--c-black);
}

.leftSide > div > button > img {
  position: absolute;
  left: 12px;
}

.fields {
  margin-bottom: 22px;
}

.fields > fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible;
  border: 2px solid;
  min-height: 3.4375rem;
  border-color: var(--c-blue100);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s;
  width: 100%;
}

.fields > fieldset::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  pointer-events: none;
  height: 1.4375rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: var(--c-white);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 95%,
    rgba(255, 255, 255, 0)
  );
}

.fields > fieldset > input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.4375rem 0.875rem 0.5625rem 0.875rem;
  border: none;
  font-family: var(--f-text);
  color: var(--c-gray100);
  font-size: 16px;
  line-height: 1.31;
  outline: none;
  cursor: text;
}

.fields > fieldset > input:focus ~ label,
.fields > fieldset > input:not(:placeholder-shown) ~ label {
  transform: scale(0.75);
}

.fields > fieldset > label {
  position: absolute;
  top: 1rem;
  left: 0.875rem;
  font-size: 1rem;
  color: var(--c-gray500);
  transform-origin: 0 -200%;
  transition: transform 300ms ease;
  pointer-events: none;
  font-family: var(--f-text);
}

.fields > *:not(:last-child) {
  margin-bottom: 10px;
}

.rightSide > div:last-of-type {
  display: flex;
}

.rightSide > div:last-of-type > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  flex-grow: 1;
}

.rightSide > div:last-of-type > p > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: var(--c-blue500);
}

.rightSide > div:last-of-type > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
  text-align: right;
}

.button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem;
  padding-bottom: 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.button > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  position: relative;
  width: 100%;
  color: var(--c-black);
}

.social__button > img {
  position: absolute;
  left: 12px;
}

@media (max-width: 1024px) { 
  .button {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    padding: 5vw;
    width: 100%;
  }

  .button > button {
    width: 100%;
    flex-grow: 1;
  }
}