.container {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  padding: 5rem 0;
}

.container::before,
.container::after {
  content: '';
}

.content {
  display: flex;
  flex-direction: row;
}

.leftSide {
  flex-basis: 55%;
}

.leftSide > img {
  max-width: 100%;
}

.rightSide {
  flex-basis: 45%;
  padding-left: 60px;
}

.rightSide > h2 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  margin-bottom: 2rem;
}

.articles {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
  padding-right: 5rem;
}

.articles > *:not(:last-child) {
  margin-bottom: 32px;
}

.articles > article {
  display: block;
  border-left: 2px solid var(--c-blue500);
  padding-left: 20px;
}

.articles > article > p:first-child {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  margin-bottom: 10px;
}

.articles > article > p:last-child {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 3rem 0;
  }

  .content {
    flex-direction: column;
  }

  .rightSide {
    padding: 0;
  }

  .articles {
    padding-right: 0;
  }
}