.actionSection {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  padding: 7rem 0;
}

.actionSection::before,
.actionSection::after {
  content: '';
}

.container {
  margin: 0 var(--p-content);
  position: relative;
}

.container > h2 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.cardGrid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-gap: 1.5rem;
  position: relative;
}

.cardGrid::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: calc(var(--p-button) * 2);
  top: calc(var(--p-button) * 2);
  right: calc(var(--p-button) * -2);
  bottom: calc(var(--p-button) * -2);
  border: 2px solid var(--c-blue100);
}
