.header {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
}

.form__container{
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 3.75rem;
}

.form__container > :not(:last-child) {
  margin-bottom: 23px;
}

.left__side{
  break-inside: avoid;
  transform: translateZ(1px);
}

.left__side > p{
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
}

.left__side__content{
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.left__side__content > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.left__side__content > :not(:last-child) {
  margin-bottom: 14px;
}

.divider{
  width: 100%;
  height: 1px;
  margin: 0.5rem 0px;
  background: var(--c-blue100);
}

.details{
  padding-bottom: 5px;
}

.details__container{
  width: 100%;
}

.details__top{
  display: flex;
  justify-content: space-between;
}

.details__top > p:first-of-type{
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-gray100);
  font-weight: bold;
}

.details__top > p:last-of-type{
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-gray100);
  font-weight: bold;
  text-align: right;
}

.details__bottom{
  display: flex;
  justify-content: space-between;
}

.details__bottom > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.details__bottom > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  text-align: right;
}

.right__side {
  break-inside: avoid;
  transform: translateZ(1px);
}

.right__side > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  margin-bottom: 14px;
}

.cards > :not(:last-child) {
  margin-right: 18px;
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

.button__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7.5rem;
}

.right__button {
  display: flex;
  align-items: flex-end;
}

.right__button > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.right__button > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
}

.right__button > div > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}




@media (min-width: 768px){    
  .right__button > div {
      width: 100%;
      height: 56px;
      padding-top: 0px;
  }
}

@media (min-width: 768px) {
  .right__button > div {
    position: sticky;
    padding: 0px;
    bottom: var(--p-spacing);
    margin-top: var(--p-spacing);
    margin-left: auto;
  }
}

