.card {
  box-shadow: var(--card-shadow);
  padding: 1rem;
  border-radius: 4px;
  background: var(--c-white);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  transition: box-shadow 0.2s ease 0s;
}

.card:hover {
  box-shadow: var(--card-shadow-hover);
}

.card::after {
  position: absolute;
  inset: 0px;
  content: '';
  pointer-events: none;
  border-radius: 4px;
  transition: all 0.2s ease 0s;
}

.card > * {
  width: 100%;
}

.card__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.card__content > :not(:last-child) {
  margin-bottom: 0.25rem;
}

.card__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 30px;
}

.card__head > svg {
  margin-top: -3px;
  margin-left: -5px;
}

.card__head > span {
  font-family: var(--f-text);
  font-style: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.6875rem;
  font-weight: bold;
  display: flex;
  padding: 2px 17px;
  border: 1px solid var(--c-blue100);
  border-radius: 2px;
  flex-shrink: 0;
}

.card__content > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  margin: 0.25em 0px 0px;
  color: var(--c-gray100);
  font-weight: bold;
  font-size: 1.0625rem;
  line-height: 1.3em;
  margin-bottom: 0.25rem;
}

.card__content > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.8125rem;
  line-height: 1.461;
  white-space: pre-line;
}
