.card__container {
  position: relative;
}

.inner_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__button {
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  background: var(--c-white);
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  padding: 0.875rem;
  min-height: 8.5rem;
  display: grid;
  grid-template-rows: auto 1.25rem 3.5rem;
  grid-template-columns: 100%;
  align-items: start;
  justify-content: start;
  text-align: left;
  width: 100%;
}

.card__button:hover {
  border-color: var(--c-blue200);
}

.image__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.image__container > span {
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 0.5rem;
}

.image__container > span > img {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  max-height: 100%;
}

.image__container > p {
  font-family: var(--f-text);
  font-style: normal;
  margin: 0px;
  color: var(--c-black);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}

.text__action {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.button__container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: end;
}

.button__container > span:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  min-width: 6rem;
  padding: 5px 1.5rem;
  border: 2px solid var(--c-blue100);
  border-radius: 27px;
  background: transparent;
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s, border 0.3s ease 0s;
}

.button__container > span:first-of-type:hover {
  border-color: var(--c-blue400);
}

.button__container > span:last-of-type {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
  border-radius: 100%;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.site__modal {
  box-shadow: var(--card-shadow);
  display: flex;
  align-self: center;
  top: 100%;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  background: var(--c-white);
  min-width: 12.5rem;
  padding: 1rem;
  margin-top: 0.3125rem;
  border: 2px solid var(--c-white);
}

.modal__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.modal__content > :not(:last-child) {
  margin-bottom: 1rem;
}

.modal__content > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  background: none;
  color: var(--c-blue500);
}

.modal__content > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 0.5rem;
}
