.container {
  position: relative;
  grid-column-end: span 2;
}

.content {
  text-align: center;
  min-height: 150px;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  color: var(--c-blue500);
  border-radius: 2px;
  transition: all 0.2s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.content:hover {
  border-color: var(--c-blue200);
}

.content > label {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  font-size: 0.75rem;
}

.content > input {
  display: none;
}

.content > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  position: absolute;
  bottom: 0.8rem;
  left: 1rem;
  font-size: 0.75rem;
}

.content__file {
  text-align: center;
  min-height: 150px;
  margin-bottom: 0.5rem;
  border: 2px solid var(--c-blue100);
  color: var(--c-blue500);
  border-radius: 2px;
  padding: 14px;
  transition: all 0.2s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.icon {
  display: flex;
}

.info {
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  width: 100%;
}

.info > span {
  text-align: left;
  margin-right: 9px;
  flex-grow: 1;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--f-text);
  color: var(--c-gray100);
  display: flex;
  align-items: center;
}

.info > span > strong {
  font-weight: bold;
}

.info > button {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: rgb(87, 87, 87);
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: auto;
  height: auto;
  padding: 0.75rem;
}

.info > div {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
}

.info > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 1.5rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  flex-grow: 1;
}

.info > div > button:hover {
  border-color: var(--c-blue200);
}