.field {
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  min-height: 3.4375rem;
  border-color: var(--c-blue100);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s ease 0s;
  width: 100%;
}

.field::before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  content: '';
  pointer-events: none;
  height: 1.4375rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0));
}

.field:focus-within {
  border-color: var(--c-blue200);
  box-shadow: 0 0 0 3px var(--c-blue100);
}

.field > input,
.field > textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1.4375rem 0.875rem 0.5625rem;
  border: none;
  font-family: var(--f-text);
  color: var(--c-gray100);
  font-size: 16px;
  line-height: 1.31;
  outline: none;
  cursor: text;
}

.field > input:focus ~ label,
.field > input:not(:placeholder-shown) ~ label,
.field > textarea:focus ~ label,
.field > textarea:not(:placeholder-shown) ~ label {
  transform: scale(0.75);
}

.field > textarea {
  resize: vertical;
  min-height: 118px;
}

.field > label {
  position: absolute;
  top: 1rem;
  left: 0.875rem;
  font-size: 1rem;
  color: var(--c-gray500);
  transform-origin: 0px -200%;
  transition: transform 300ms ease 0s;
  pointer-events: none;
  font-family: var(--f-text);
}

.halfField {
  grid-column-end: span 2;
}

.popError {
  display: block;
  position: absolute;
  top: 0px;
  padding: 8px 12px;
  font-weight: bold;
  break-inside: avoid;
  transform: translateY(calc(-100% - 15px));
  backface-visibility: hidden;
  animation: 0.2s ease-in-out 0s 1 normal none running animation-1o99zxq;
  font-family: var(--f-text);
  color: var(--c-red500);
  box-shadow: var(--card-shadow);
  background: var(--c-white);
  max-width: 15.625rem;
  right: 0px;
  text-align: right;
}

.popError::after {
  content: '';
  display: block;
  border-width: 5px;
  border-style: solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image: initial;
  position: absolute;
  border-top-color: var(--c-white);
  top: 100%;
  border-right-color: var(--c-white);
  right: 0px;
}

.fieldError:focus-within {
  border-color: var(--c-red500) !important;
}

.fieldError {
  border-color: var(--c-red500) !important;
}
.fieldArea {
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  min-height: 3.4375rem;
  border-color: var(--c-blue100);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s ease 0s;
  width: 100%;
  grid-column-end: span 2;
}