.textArea {
  min-height: 160px;
}

.textArea .ql-toolbar {
  font-family: var(--f-text);
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid var(--c-blue100);
}

.textArea .ql-container {
  font-family: var(--f-text);
  border: none;
}