.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  min-height: calc(100vh - 150px);
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.container > form {
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

.section {
  margin-bottom: 50px;
}

.fieldContainer > div > :not(:last-child) {
  margin-bottom: 10px;
}

.section > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 13px;
  word-break: break-word;
}

.section > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.container > form > div:nth-of-type(2) {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 9.375rem;
}

.container > form > div:nth-of-type(2) > div {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.field {
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  min-height: 3.4375rem;
  border-color: var(--c-blue100);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s ease 0s;
  width: 100%;
}

.field::before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  content: '';
  pointer-events: none;
  height: 1.4375rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0));
}

.field > input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.4375rem 0.875rem 0.5625rem;
  border: none;
  font-family: var(--f-text);
  color: var(--c-gray100);
  font-size: 16px;
  line-height: 1.31;
  outline: none;
  cursor: text;
}

.field > label {
  position: absolute;
  top: 1rem;
  left: 0.875rem;
  font-size: 1rem;
  color: var(--c-gray500);
  transform-origin: 0px -200%;
  transition: transform 300ms ease 0s;
  pointer-events: none;
  font-family: var(--f-text);
}

.container > form > div:last-of-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.container > form > div:last-of-type > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
}

.container > form > div:last-of-type > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}
