.formContainer {
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

.formContainer > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.formContent {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.center {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 0px;
}

.center > :not(:last-child) {
  margin-bottom: 0px;
}

.section {
  break-inside: avoid;
  transform: translateZ(1px);
}

.sectionTitle {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
}

.infoP {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  grid-column-end: span 2;
}

.fieldContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

.buttonContainer {
  display: flex;
  min-height: 13.125rem;
}

.buttonContainer > button {
  height: fit-content;
}

.buttonContainer > button > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.buttonContainer > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
}

.buttonContainer > input {
  display: none;
}

.buttonContainer > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}
.buttonContainer > button > span > svg {
  color: white;
}

.button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.button > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}

.button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
}

@media (max-width: 1440px) {
  .center {
    column-count: 1;
  }

  .section {
    transform: none;
  }
  .button {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .button {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .center {
    margin-bottom: 2.5rem;
  }
  .button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
    padding: 5vw;
    width: 100%;
  }
}
