.container {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  padding: 8rem 0 4rem;
}

.container::before,
.container::after {
  content: '';
}

.background {
  position: relative;
  margin-bottom: 4.6875rem;
}

.content {
  padding: 6.25rem;
  background-color: #00131c;
  position: relative;
  top: 0;
  left: -75px;
  width: calc(100% + 150px);
  min-height: 20rem;
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.leftSide {
  display: block;
}

.leftSide > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  margin: 0;
  word-break: break-word;
  margin-bottom: 1.2rem;
  color: white;
}

.leftSide > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0;
  color: #6e8088;
  margin-bottom: 2.5rem;
  max-width: 32.4375rem;
}

.leftSide > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
}

.leftSide > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.rightSide {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(14.375rem,1fr));
  grid-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) { 
  .container {
    padding: 5rem 0px 6rem;
  }

  .background {
    margin-bottom: 0;
    min-height: 0;
    margin-top: 2rem;
  }

  .content {
    display: block;
    position: relative;
    left: calc(-5.55556% - 2px);
    width: calc(111.111% + 4px);
    height: auto;
    min-height: unset;
    padding: calc(11.1111%) calc(5.55556%);
  }
}