.container {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  padding: 5rem 0;
}

.container::before,
.container::after {
  content: '';
}

.content {
  position: relative;
  margin-bottom: 4.6875rem;
}

.text {
  padding: 6.25rem;
  background-color: #00131c;
  position: relative;
  top: 0;
  left: -75px;
  width: 47rem;
  min-height: 47rem;
}

.desc {
  display: block;
}

.desc > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  margin: 0;
  word-break: break-word;
  margin-bottom: 1.2rem;
  color: white;
}

.desc > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0;
  color: #6e8088;
  margin-bottom: 2.5rem;
  max-width: 32.4375rem;
}

.social {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(14.375rem,1fr));
  grid-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.background {
  position: absolute;
  z-index: -1;
  left: 0;
  right: -4.6875rem;
  bottom: -4.6875rem;
  top: 4.6875rem;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/src/assets/images/protectTheMemory.jpg);
}

@media (max-width: 768px) {
  .container {
    padding: 3rem 0;
  }

  .content {
    margin-bottom: 0;
    min-height: 0;
    margin-top: 2rem;
  }

  .text {
    display: block;
    position: relative;
    left: calc(-5% * (100 / 90) - 2px);
    width: calc(100% + 10% * (100 / 90) + 4px);
    padding: 0;
    height: auto;
    min-height: unset;
    padding: calc(10% * (100 / 90)) calc(5% * (100 / 90));
  }

  .background {
    display: none;
  }
}