.box {
  border: 2px solid #192a32;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  cursor: pointer;
}

.box > img {
  width: 36px;
  height: 36px;
}

.box > span:first-of-type {
  color: var(--c-white);
  font-family: var(--f-text);
  font-size: 1.0625rem;
  margin-top: 5px;
}

.box > span:last-of-type {
  color: #6e8088;
  font-family: var(--f-text);
  font-size: 0.8125rem;
  margin-top: 10px;
  line-height: 19px;
}