.header__container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.header__container::before,
.header__container::after {
  content: '';
}

.header__content {
  display: flex;
  align-items: center;
  height: var(--h-header);
  position: relative;
  z-index: 3;
  padding-right: var(--p-spacing);
  padding-left: var(--p-spacing);
  grid-column-start: left;
  grid-column-end: right;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.header__content > div:first-of-type {
  flex-grow: 1;
  margin-right: 1rem;
}

.header__rightSide {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  align-items: center;
}

.header__rightSide > *:not(:last-child) {
  margin-right: 1.5rem;
}

.header__rightSide > button:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  text-align: center;
  background: var(--c-white);
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  padding: 0.875rem 2rem;
}

.header__rightSide > button:nth-of-type(2) {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  background: none;
  color: black;
}

.header__rightSide > button:nth-of-type(2) > span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.header__rightSide > button:nth-of-type(2) > span > div {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  border: 1px solid var(--c-blue100);
  background-color: var(--c-gray300);
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.0625rem;
  white-space: nowrap;
  min-width: 0px;
  font-weight: 700;
  font-family: var(--f-text);
  color: var(--c-gray500);
}

.header__rightSide > button:last-of-type {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
  border-radius: 100%;
  cursor: pointer;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__modal__show {
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0px;
  padding: 0.75rem 0px;
  background: var(--c-white);
  user-select: none;
}

.header__modal__hide {
  display: none;
}

.header__modal__show > a,
.header__modal__show > p {
  padding: 0.75rem 2.5rem 0.75rem 1.75rem;
  white-space: nowrap;
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  cursor: pointer;
  text-decoration: none;
}

.header__modal__show > a:hover,
.header__modal__show > p:hover {
  text-decoration: underline;
}

.header__bar__right {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
}

.header__bar__right > *:not(:last-child) {
  margin-right: 0.5rem;
}

.header__bar__right > button {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s;
  border-radius: 100%;
  cursor: pointer;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  pointer-events: all;
}

.header__bar__right > a {
  text-decoration: none;
}

.header__bar__right > a > div {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 1px solid var(--c-blue100);
  background-color: var(--c-gray300);
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.0625rem;
  white-space: nowrap;
  min-width: 0px;
  font-weight: 700;
  font-family: var(--f-text);
  color: var(--c-gray500);
  display: none;
}

.header__res__bar > a {
  display: none;
  line-height: 0;
}

@media (max-width: 768px) { 
  .header__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
    overflow: visible;
    height: unset;
  }

  .header__res__bar {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 0px;
    position: absolute;
    top: 0px;
    right: 5vw;
    left: 5vw;
    width: auto;
    pointer-events: none;
    z-index: 3;
  }

  .header__rightSide {
    display: none;
    flex-grow: 1;
  }

  .header__res__bar > button,
  .header__res__bar > a {
    pointer-events: all;
  }

  .header__res__bar > a {
    flex-grow: 1;
  }

  .header__link {
    display: none;
  }

  .header__bar__right > a > div {
    display: flex;
  }

  .header__bar__right > button {
    display: flex;
  }
}