.nav__container {
  flex-shrink: 0;
  padding: 0px 1rem;
  display: none;
}

.nav__link {
  letter-spacing: 0px;
  text-decoration: none;
  color: var(--c-gray500);
}

.nav__link > svg {
  margin-right: 1rem;
}

.nav__separator {
  width: 100%;
}

.selected {
  color: var(--c-blue500) !important;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav__container__open{
    margin-bottom: 0px;
    padding-bottom: 2rem;
    display: block;
  }
   
  .nav__container__open {
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 12vh;
    max-height: 86vh;
    width: 100%;
    padding: 0px;
    overflow: hidden scroll;
    display: flex;
    pointer-events: all;
  }
  
  .nav__container > a {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .nav__link {
    font-family: var(--f-heading);
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  .nav__link {
    text-decoration: none;
    color: var(--c-gray500);
  }
  
}