.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.header > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  background: none;
  color: var(--c-blue500);
}

.header > button > span,
.desktop__only > span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.tab__container {
  flex: 1 1 0%;
  outline: none;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tab__list {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
  overflow-x: auto;
  position: relative;
}

.tab__container > section {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow-y: auto;
}

.tab__list::after {
  content: '';
  flex: 1 1 0%;
  border-bottom: 3px solid var(--c-blue100);
}

.tab__element {
  border-bottom: 3px solid var(--c-blue100);
  transition: border 0.3s ease 0s;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
}

.tab__element > p,
.active {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.desktop__only {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  background: none;
  color: var(--c-blue500);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.active {
  border-bottom: 3px solid var(--c-blue500);
  transition: border 0.3s ease 0s;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .header > button {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .desktop__only {
    display: none !important;
  }
}
