.container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  position: relative;
  box-shadow: var(--card-shadow);
  padding: 1.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.title > h2 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px;
  word-break: break-word;
  font-size: 2.625rem;
}

.title > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 1.25rem;
}

.title > p > span:first-of-type {
  color: var(--c-gray100);
  font-weight: bold;
}

.title > p > span:last-of-type {
  font-weight: normal;
}

.container > p {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px 0px 1.2rem;
  color: black;
  font-weight: bold;
}

.container > ul {
  list-style: none;
  padding: 0px;
  margin: 1.5rem 0px;
  flex-grow: 1;
}

.container > ul > li {
  display: list-item;
}

.container > ul > li > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  display: flex;
}
.container > ul > li > p > svg {
  margin-right: 12px;
  flex-shrink: 0;
  margin-top: calc((1.6em - 12px) / 2);
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
  height: 3.375rem;
  padding: 0px;
}
