.container {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  padding: 6rem 0 5rem;
}

.container::before, 
.container::after {
  content: '';
}

.content {
  margin: 0 var(--p-content);
  position: relative;
}

.content > h2 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  max-width: 42rem;
  margin-bottom: 3rem;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5.625rem;
}

.line {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--c-blue100);
}

.grid > article {
  position: relative;
}

.grid > article > div {
  margin-bottom: 40px;
}

.grid > article > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  margin-bottom: 10px;
}

.grid > article > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 5rem 0px 2rem;
  }

  .content {
    margin: 0;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .line {
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 2px;
  }

  .grid > article {
    padding-left: 20px;
  }
}