.page__main > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray500);
  margin: 8px 0px;
}

.page__main > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.page__center__grid {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 3rem;
}

.page__center__grid > :not(:last-child) {
  margin-bottom: 36px;
}

.center__grid__item {
  break-inside: avoid;
  transform: translateZ(1px);
}

.center__grid__item > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
}

.center__grid__item > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

@media (max-width: 768px) {
  .page__center__grid {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 1440px) {
  .page__center__grid {
    column-count: 1;
  }
}
