.head {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.head > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px;
  color: var(--c-gray500);
  flex-grow: 1;
}

.head > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  cursor: pointer;
  text-decoration: none;
}

.head > a:hover {
  text-decoration: underline;
}

.invites__container {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(12.875rem, 1fr));
  grid-auto-rows: 1fr;
}

.invite__card {
  display: flex;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  padding: 10px;
  justify-content: flex-start;
  color: var(--c-gray100);
  flex-direction: column;
  align-items: stretch;
}

.invite__card:hover {
  border-color: var(--c-blue200);
}

.card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__head > span {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0px;
}

.card__body {
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__body > span:first-of-type {
  flex-grow: 1;
  text-align: left;
  font-size: 1.0625rem;
  display: flex;
  margin-bottom: 3px;
}

.card__body > span:last-of-type {
  font-size: 0.8125rem;
  color: var(--c-gray500);
  font-weight: 400;
  text-align: left;
}