.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  min-height: calc(100vh - 150px);
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  display: flex;
  justify-content: flex-end;
  margin: 0 var(--p-content);
  position: relative;
}

.content > img {
  object-fit: cover;
  position: absolute;
  left: 4rem;
  top: 7.5rem;
  width: 45%;
  z-index: -1;
  height: 85%;
}

.rightSide {
  display: flex;
  align-items: flex-end;
  width: calc(50% - 5.625rem);
  margin-top: 6.25rem;
}

.rightSide > div {
  position: relative;
  padding: 43px 0px;
  margin-top: 2rem;
  margin-bottom: 7.5rem;
}

.rightSide > div::before {
  content: '';
  border: 2px solid var(--c-blue100);
  position: absolute;
  z-index: -1;
  top: 0px;
  left: var(--p-button);
  right: -19px;
  bottom: 0px;
}

.rightSide > div > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  font-size: 4.125rem;
  line-height: 1.16;
  letter-spacing: 0;
  margin-bottom: 1.825rem;
}

.rightSide > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  margin-bottom: 27px;
}

.middleSection {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  margin-top: 6.25rem;
}

.middleSection::before,
.middleSection::after {
  content: '';
}

.middleSectionContent {
  display: block;
  margin: 0 var(--p-content);
}

.middleSectionContent > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 6.25rem;
  word-break: break-word;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 43px 0px;
  margin-top: 2rem;
  margin-bottom: 7.5rem;
}

.grid::before {
  content: '';
  border: 2px solid var(--c-blue100);
  position: absolute;
  z-index: -1;
  width: calc(100% + 100px);
  top: -11.875rem;
  left: -3.125rem;
  bottom: 0px;
}

.item {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.item > div {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.item > div > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0px;
  margin-bottom: 10px;
}

.item > div > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.contactSection {
  display: block;
  margin-bottom: 11.25rem;
  position: relative;
}

.contactSection > div {
  max-width: 14.6875rem;
  border: 2px solid var(--c-blue100);
  border-radius: 4px;
  padding: 1rem;
  transition: border-color 0.3s ease 0s;
  position: absolute;
  right: 0px;
}

.contactSection > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: var(--c-gray500);
  margin: 0px;
  line-height: 1.4em;
}

.contactSection > div > p > strong {
  cursor: pointer;
  color: var(--c-blue500);
  display: flex;
  align-items: center;
}
