.back__btn__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.back__btn__container > div {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

.page__main > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.form__inner {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.form__inner > :not(:last-child) {
  margin-bottom: 0px;
}

.field__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.save__btn__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.save__btn__container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
}

.save__btn__container > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}

@media (min-width: 768px) {
  .save__btn__container {
    position: sticky;
    padding: 0px;
    bottom: var(--p-spacing);
    margin-top: var(--p-spacing);
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .save__btn__container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1440px) {
  .save__btn__container {
    width: 100%;
  }

  .field__grid {
    column-count: 1;
  }
}
