.modal__open {
  display: flex;
}

.modal__closed {
  display: none;
}

.modal__overlay {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  flex-direction: column;
}

.modal__content {
  transform: none;
  border-radius: 0;
  outline: none;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.modal__inner {
  flex-grow: 1;
  background: var(--c-white);
  box-shadow: var(--card-shadow);
}

.modal__inner__content {
  display: inline-block;
  width: calc(100vw - 21.875rem - var(--p-spacing));
  padding: 100px 0 0;
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
  flex-grow: 1;
}

.modal__inner__content > button {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: rgb(87, 87, 87);
  position: absolute;
  top: calc(0.9375rem + (1.56187rem - 16px) / 2);
  right: calc(0.9375rem + (1.56187rem - 16px) / 2);
  width: auto;
  height: auto;
  padding: 0.75rem;
}

.modal__inner__content > button > svg {
  width: 12px;
  height: 12px;
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  margin-top: 1.3125rem;
  flex-grow: 1;
  margin-bottom: 7.5rem;
  max-width: 90vw;
}

.back__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.back__container > div {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 768px) {
  .modal__content {
    justify-content: stretch;
    align-items: flex-end;
  }

  .modal__inner__content {
    width: 100vw;
    padding-top: 5px;
  }

  .content {
    margin-bottom: 7.5rem;
  }

  .back__container {
    margin-bottom: 2vw;
  }
}
