.page__container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.page__container::before,
.page__container::after {
  content: '';
}

.page__content {
  display: flex;
  flex-grow: 1;
  max-width: 90vw;
}

.page__inner {
  margin-top: 1.3125rem;
  flex-grow: 1;
  margin-bottom: 7.5rem;
  max-width: 90vw;
}
