.setting__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.container__title {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 1.5rem;
  color: var(--c-gray500);
}
