.button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
}

.button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.button > span > svg {
  color: #fff;
}

.plan {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  max-width: 36.25rem;
}