.image {
  object-fit: cover;
  border-radius: 50%;
  pointer-events: none;
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.twoStepVerification {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.twoStepVerification > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 1.5rem;
  color: var(--c-gray500);
}

.info {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1.5rem;
}

.info > svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.info > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}