.contactDetails {
  flex-grow: 1;
}

.contactDetails > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.93;
  color: currentColor;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contactDetails > a:hover {
  text-decoration: underline;
}

.contactDetails > a > span {
  display: inline-flex;
  margin-right: 13px;
  align-items: center;
  justify-content: center;
}

.contactDetails > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.93;
  color: currentColor;
  margin-left: 33px;
}

.social {
  display: flex;
  margin-top: 1.875rem;
}

.social > a  {
  color: currentColor;
  margin-right: 30px;
} 