.main__container {
  margin-right: 120px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.main__header > div > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  margin-bottom: 2rem;
}

.main__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.main__content > :not(:last-child) {
  margin-bottom: 22px;
}

.site__category {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
}

.site__button__container {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  grid-auto-rows: 1fr;
}

.site__button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  padding: 10px;
  justify-content: flex-start;
  color: var(--c-gray100);
  min-height: 3.75rem;
}

.site__button > img {
  object-fit: contain;
  object-position: center center;
  width: 2.25rem;
  height: 2.25rem;
}

.site__title {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
}
