.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  min-height: calc(100vh - 150px);
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

.content > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 2rem;
  word-break: break-word;
  max-width: 40.3125rem;
}

.content > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 2rem;
  color: var(--c-gray500);
}

.content > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 4rem 0px 2rem;
  color: var(--c-gray500);
}

.articles {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.625rem;
}

.line {
  position: absolute;
  top: 54px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: var(--c-blue100);
}

.cards {
  min-height: 100px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.5rem;
  position: relative;
  margin-bottom: 4.5rem;
}

.button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
  padding-top: 2rem;
  margin-left: auto;
}

.button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
}

.button > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}

@media (max-width: 1024px) {
  .button {
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  .articles {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .line {
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 2px;
  }

  .button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    padding: 5vw;
    width: 100%;
  }

  .button > button {
    width: 100%;
    flex-grow: 1;
  }
}