.button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  border: 0px;
  padding: 0px 1.25rem 0px 0px;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease 0s;
  margin-bottom: 3rem;
}

.button:hover {
  color: var(--c-blue400);
}

.button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentcolor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.button > span > svg {
  color: #fff;
}
