.button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  padding: 10px;
  justify-content: flex-start;
  color: var(--c-gray100);
  min-height: 3.75rem;
}

.button:hover {
  border-color: var(--c-blue200);
}

.button > img {
  object-fit: contain;
  object-position: center center;
  width: 2.25rem;
  height: 2.25rem;
}

.button > span {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
}

.button > span > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}