.main__head > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  margin-bottom: 3.125rem;
}

.main__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__bar {
  width: 40%;
  box-shadow: var(--card-shadow);
  border-radius: 2px;
  display: flex;
  align-items: stretch;
  height: 54px;
  margin-bottom: 28px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  margin-top: -1rem;
}

.search__bar > button {
  display: flex;
  flex-basis: 54px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
}

.search__bar > div {
  position: relative;
  width: 100%;
  display: flex;
}

.search__bar > div > input {
  border: none;
  outline: none;
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  flex-grow: 1;
}

.card__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.card__grid {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}
