.category__container {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}

.category__container > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  padding: 10px;
  justify-content: flex-start;
  color: var(--c-gray100);
  min-height: 3.75rem;
}

.category__container > button:hover {
  border-color: var(--c-blue200);
}

.category__container > button > span {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
}