.site__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.site__container > :not(:last-child) {
  margin-bottom: 22px;
}

.site__content > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
}

.site__content > div {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}

.add__new__site {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
}

.add__new__site > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.add__new__site > span > svg {
  color: #fff;
}