.form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

.form__container > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 0.875rem;
  color: var(--c-gray500);
  grid-column-end: span 2;
}

.title {
  font-style: normal;
  font-weight: normal;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 0.25rem;
  word-break: break-word;
  font-family: var(--f-text);
  font-size: 1.3125rem;
  display: flex;
  align-items: center;
}

.title > svg {
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.spacer {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  margin-bottom: 1rem;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  grid-column-end: span 2;
}

.checkbox {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.checkbox:checked + .svg__box > * {
  opacity: 1;
}

.svg__box {
  border: 2px solid var(--c-gray500);
  border-radius: 4px;
  width: 28px;
  height: 28px;
  flex-basis: 28px;
  flex-shrink: 0;
  background: white;
  color: rgb(167, 167, 167);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg__box > svg {
  color: var(--c-blue500);
}

.svg__box > * {
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}

.desc {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.preview__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
}

.preview__container {
  border: 2px solid var(--c-blue100);
  border-radius: 4px;
  overflow-y: auto;
  font-family: var(--f-text);
  color: var(--c-gray500);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview__title {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 0.875rem;
  color: var(--c-gray500);
}

.preview__container > div {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
  margin: 0px;
  text-align: center;
  line-height: 1.6em;
}

.preview__container > div > :not(:last-child) {
  margin-bottom: 0.8rem;
}