.hide__modal {
  display: none;
}

.modal__overlay {
  z-index: 6;
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal__content {
  transform: none;
  border-radius: 0px;
  outline: none;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.modal__content > div {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center;
}

.modal__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  height: calc(var(--vh, 1vh) * 100);
  max-height: 100vh;
  padding: 0.5rem;
}

.background {
  padding: 1.6875rem;
  background: var(--c-white);
  box-shadow: var(--card-shadow);
  position: relative;
  overflow-y: auto;
}

.close__btn {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-left: auto;
  color: rgb(87, 87, 87);
  cursor: pointer;
  position: absolute;
  top: calc(0.9375rem + (1.56187rem - 16px) / 2);
  right: calc(0.9375rem + (1.56187rem - 16px) / 2);
  width: auto;
  height: auto;
  padding: 0.75rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header > p {
  font-family: var(--f-text);
  font-style: normal;
  line-height: 1.6875;
  margin: 0px 0px 0px 0.75rem;
  color: black;
  font-weight: bold;
  font-size: 1.3125rem;
}

.description {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px 0px 1.5rem;
}

.form > :not(:last-child) {
  margin-bottom: 0.75rem;
}

.form__content {
  display: flex;
  min-height: 13.125rem;
}

.form__content > div:first-of-type {
  height: 12.5rem;
  width: 12.5rem;
}

.form__content > div:last-of-type {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.form__content > div:last-of-type > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  background: none;
  color: var(--c-red500);
}

.form__content > div > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.form__content > button {
  align-items: center;
  display: flex;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
}

.form__content > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.form__content > button > span > svg {
  color: #fff;
}

.form__buttons {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 1.6875rem;
}

.form__buttons > button {
  min-width: 25%;
}

.form__buttons > button:not(:first-of-type) {
  margin-right: 1.5rem;
}

.update__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
}

.cancel__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
}

.field__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
}

.field__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
}

.field__info__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

.credit__cards {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
}

.credit__cards > :not(:last-child) {
  margin-right: 18px;
}

.card__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
}

@media (min-width: 768px) {
  .modal__container {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
