.deputies__p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 1rem;
  color: var(--c-gray500);
}

.card__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.card__container > :not(:last-child) {
  margin-bottom: 0.625rem;
}

.deputy__card {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.deputy__container{
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1 1 0%;
  padding: 0.5rem 1rem;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: var(--c-blue100);
  border-radius: 4px;
}

.icon{
  aspect-ratio: 1 / 1;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.icon > div {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--c-blue100);
  background-color: var(--c-gray300);
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.0625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0px;
  font-weight: 700;
  font-family: var(--f-text);
  color: var(--c-gray500);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.5rem;
  flex: 1 1 0%;
  overflow: hidden;
  white-space: nowrap;
} 

.info > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  margin: 0px 0px 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: var(--c-black);
  line-height: 1em;
}

.info > P:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select {
  flex: 0 1 0%;
  display: flex;
  align-items: flex-end;
} 

.select > fieldset {
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  min-height: 3.4375rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s ease 0s;
  border: none;
  flex: 1 1 0%;
  width: auto;
  min-width: 135px;
  align-items: flex-end;
}

.select > fieldset::before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  content: "";
  pointer-events: none;
  height: 1.4375rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0));
}

.select > fieldset > select {
  flex: 1 1 0%;
  padding: 1.1rem 0px 1.1rem 1.1rem;
  cursor: pointer;
}

.select > fieldset > select {
  appearance: none;
  background: url(data:image/svg+xml;utf8,%3Csvg%20width%3D%2715%27%20height%3D%279%27%20viewBox%3D%270%200%2015%209%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20fill-rule%3D%27evenodd%27%20clip-rule%3D%27evenodd%27%20d%3D%27M0.792893%201.70718L2.20711%200.292969L7.5%205.58586L12.7929%200.292969L14.2071%201.70718L7.5%208.41429L0.792893%201.70718Z%27%20fill%3D%27%23575757%27%2F%3E%3C%2Fsvg%3E) calc(100% - 0.875rem) 50% no-repeat transparent;
  text-overflow: ellipsis;
}

.select > fieldset > select {
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-family: var(--f-text);
  color: var(--c-gray100);
  font-size: 16px;
  line-height: 1.31;
  outline: none;
  cursor: text;
}

.select > fieldset > label {
  display: none;
}

.remove{
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  align-self: center;
  padding: 0.75rem;
  margin-left: 0.75rem;
  cursor: pointer;
}

.add__deputy__btn {
  display: flex;
  max-width: 100%;
  min-width: 0px;
  overflow: hidden;
  font-family: var(--f-text);
  padding: 1rem calc(2px + 0.875rem);
  align-items: center;
  background-color: var(--c-blue100);
  border:none;
}

.add__deputy__btn > svg {
  margin-right: 10px;
  color: var(--c-blue500);
}

.add__deputy__btn > p{
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  font-weight: bold;
  color: var(--c-blue500);
}