.container {
  display: grid;
  gap: 6.25rem;
  grid-template-columns: 5fr 4fr;
  grid-auto-flow: dense;
  align-items: start;
}

.header {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.section {
  max-width: 28.125rem;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
}

.section__header {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
}

.section__description {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.section__bottom {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  margin-bottom: 1rem;
}

.bottom {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.bottom > :not(:last-child) {
  margin-bottom: 1rem;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 10px;
}

.info > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--f-text);
  padding: 4px 0px 5px;
  border-radius: 4px;
  border: 2px solid var(--c-blue100);
  text-align: center;
  color: var(--c-gray500);
}

.button{
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding-top: 2rem;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  width: 50%;
}

.button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
  width: 50%;
  width: 100%;
}

.button > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}

.image > img {
  z-index: -1;
  max-width: 100%;
}

@media (min-width: 768px) {
  .button {
    position: sticky;
    padding: 0px;
    bottom: var(--p-spacing);
    margin-top: var(--p-spacing);
    margin-left: auto;
  }
}