.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  min-height: calc(100vh - 150px);
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 2.75rem;
  margin-bottom: 9.1875rem;
  align-items: end;
  position: relative;
  gap: 9.375rem;
}

.content::before {
  content: '';
  position: absolute;
  inset: 1.25rem 0px 0px 7rem;
  border: 2px solid var(--c-blue100);
  z-index: -1;
}

.leftSide {
  position: relative;
  margin-top: 7.1875rem;
}

.leftSide > h2 {
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray100);
  margin: 0px 0px 2.625rem;
  word-break: break-word;
  font-family: var(--f-heading);
  font-size: 6.625rem;
  line-height: 98%;
  max-width: 36.875rem;
}

.content > form {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: var(--card-shadow);
  padding: calc(var(--p-button) * 2);
  margin: calc(var(--p-button) * -2);
  margin-bottom: calc(var(--p-button) * -3 - 44px);
}

.content > form > :not(:last-child) {
  margin-bottom: 10px;
}

.content > form > fieldset {
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  min-height: 3.4375rem;
  border-color: var(--c-blue100);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s ease 0s;
  width: 100%;
}

.content > form > fieldset::before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  content: '';
  pointer-events: none;
  height: 1.4375rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0));
}

.content > form > fieldset:focus-within {
  border-color: var(--c-blue200);
  box-shadow: 0 0 0 3px var(--c-blue100);
}

.content > form > fieldset > input:focus ~ label,
.content > form > fieldset > select:focus ~ label,
.content > form > fieldset > textarea:focus ~ label,
.content > form > fieldSet > select:not(.empty) ~ label,
.content > form > fieldSet > input:not(:placeholder-shown) ~ label,
.content > form > fieldSet > textarea:not(:placeholder-shown) ~ label {
  transform: scale(0.75);
}

.content > form > fieldset > select,
.content > form > fieldset > input,
.content > form > fieldset > textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1.4375rem 0.875rem 0.5625rem;
  border: none;
  font-family: var(--f-text);
  color: var(--c-gray100);
  font-size: 16px;
  line-height: 1.31;
  outline: none;
  cursor: text;
}

.content > form > fieldset > label {
  position: absolute;
  top: 1rem;
  left: 0.875rem;
  font-size: 1rem;
  color: var(--c-gray500);
  transform-origin: 0px -200%;
  transition: transform 300ms ease 0s;
  pointer-events: none;
  font-family: var(--f-text);
}

.content > form > fieldset > select {
  padding-right: calc(1.3125rem + 15px);
  text-overflow: ellipsis;
}

.content > form > fieldset > textarea {
  resize: vertical;
  min-height: 160px;
}

.content > form > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
}

.content > form > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}
