.container {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  padding: 4rem 0 5rem;
}

.container::before, 
.container::after {
  content: '';
}

.content {
  display: grid;
  grid-gap: 12.5rem;
  grid-auto-flow: dense;
  grid-column-start: center;
  grid-column-end: right;
  grid-template-columns: 4fr 7fr;
}

.description {
  margin-left: var(--p-content);
}

.description > h2 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  margin-bottom: 31px;
}

.description > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.description > p:nth-of-type(2) {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  margin: 28px 0 10px;
}

.description > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.description > div {
  display: flex;
  margin-top: 20px;
}

.description > div > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.rightSide > div {
  position: relative;
}

.rightSide > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: 2px solid var(--c-blue100);
  transform: translate(-60px,55px);
}

.rightSide > div > img {
  width: 100%;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 2rem;
  }
  
  .description {
    grid-row-start: 2;
    grid-column-start: 1;
    margin-right: 5%;
    margin-left: 0;
  }
  
  .rightSide > div > img {
    max-height: 30vh;
    object-fit: cover;
  }
}