.container {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  margin-bottom: 8rem;
}

.container::before,
.container::after {
  content: '';
}

.content {
  margin: 0 var(--p-content);
  display: flex;
  position: relative;
}

.leftSide {
  position: relative;
  flex-grow: 7;
  margin-top: 3.875rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftSide::before {
  content: '';
  position: absolute;
  top: -2rem;
  left: 7rem;
  right: 0;
  bottom: 0;
  border: 2px solid var(--c-blue100);
  z-index: -1;
}

.leftSide > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  font-size: 4.125rem;
  line-height: 1.16;
  letter-spacing: 0;
  max-width: 42.5rem;
  margin-bottom: 1.825rem;
}

.leftSide > div {
  margin: 0 2rem 0 10rem;
  max-width: 25rem;
}

.leftSide > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  padding-bottom: 2rem;
}

.leftSide > div > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
}

.leftSide > div > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.rightSide > img {
  right: 0px;
  z-index: -1;
  max-width: 100%;
  object-fit: cover;
  object-position: center 14%;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 5rem;
  }

  .content {
    flex-direction: column-reverse;
    grid-column: center / center;
    padding-top: 2rem;
    margin: 0;
  }

  .leftSide {
    margin-top: 1rem;
    margin-right: 0px;
    max-width: unset;
  }

  .leftSide h1 {
    font-size: 3.25rem;
    margin-bottom: 1rem;
  }

  .leftSide > div {
    margin: 0px;
    max-width: unset;
  }

  .rightSide > img {
    position: static;
    margin-left: auto;
    padding-bottom: 0px;
    max-height: 30vh;
    width: 80%;
  }
}