.page__container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.page__container::before,
.page__container::after {
  content: '';
}

.page__content {
  display: flex;
  flex-grow: 1;
  max-width: 90vw;
}

.page__inner {
  max-width: 100%;
  margin-top: 1.3125rem;
  flex-grow: 1;
  margin-bottom: 4rem;
}

.page__main > div > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray500);
  margin: 8px 0px;
}

.page__main > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 1rem;
  word-break: break-word;
}

.page__bar > div:last-of-type {
  display: none;
}

.page__bar > div:first-of-type {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.todo__section {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.todo__section > :not(:last-child) {
  margin-bottom: 3.125rem;
}

.todo__container {
  width: 100%;
  margin-bottom: 0px !important;
}

.todo__left {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.todo__left > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px;
  color: var(--c-gray500);
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.todo__grid {
  position: relative;
  width: calc(100% + 30px);
  margin: 0px 0px 1rem -30px;
}

.todo__grid__left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 100%;
  background: linear-gradient(90deg, white 42%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.todo__grid__right {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 100%;
  background: linear-gradient(270deg, white 42%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.todo__grid__center {
  overflow-x: scroll;
  display: grid;
  gap: 14px;
  padding: 20px 30px 40px;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
}

.todo__grid::after {
  content: '';
  width: 30px;
}

.todo__left > div {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  align-items: center;
}

.todo__left > div > p > svg {
  margin-right: 0.75rem;
}

.todo__left > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

@media (max-width: 768px) {
  .page__inner {
    margin-top: 0;
  }

  .page__bar {
    margin-top: 5vw;
    margin-bottom: 2vw;
  }

  .page__bar > div:first-of-type {
    display: none;
  }

  .page__bar > div:last-of-type {
    display: block;
  }
}
