.card {
  background: white;
  display: grid;
  grid-template-rows: 62px 1fr;
  max-height: 320px;
  box-shadow: var(--card-shadow);
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  border: 2px solid transparent;
  flex-shrink: 0;
  left: 0;
}

.card:hover {
  box-shadow: var(--card-shadow-hover);
}

.iconContainer {
  display: flex;
  height: 62px;
}

.icon {
  margin: 1rem 0 0 1rem;
}

.textContent {
  margin: 1rem 1.2rem 1.75rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.textContent > strong {
  white-space: pre-wrap;
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 1.23;
  margin-bottom: 1.25rem;
  word-break: break-word;
  color: var(--c-blue500);
  flex-grow: 1;
}

.textContent > span {
  white-space: pre-wrap;
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  display: flex;
  align-items: flex-start;
}
