.cart__container {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: 0;
  z-index: 3;
  overflow-y: auto;
  box-shadow: var(--card-shadow);
}

.cart__content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.cart__button {
  padding: 40px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart__content__filled {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  padding: 2.5rem;
  min-width: 21.25em;
}

.cart__title {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6875;
  margin: 0px 0px 2.625rem;
  display: flex;
  align-items: center;
  font-size: 1.3125em;
  color: var(--c-gray100);
  cursor: pointer;
}

.cart__title > svg {
  margin-right: 10px;
}

.cart__item__container {
  flex-grow: 1;
  overflow-y: auto;
}

.cart__item__container > :not(:last-child) {
  margin-bottom: 13px;
}

.cart__item {
  border-bottom: 1px solid var(--c-blue100);
}

.cart__item__primary {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  display: flex;
  color: var(--c-gray100);
  font-weight: bold;
}

.cart__item__primary > span:first-of-type,
.cart__item__secondary > span:first-of-type {
  text-align: left;
  flex-grow: 1;
}

.cart__item__primary > span:last-of-type {
  text-align: right;
  flex-shrink: 0;
}

.cart__item__secondary {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  display: flex;
}

.cart__item__secondary > span:last-of-type {
  text-align: right;
  flex-shrink: 0;
  cursor: pointer;
}

.cart__footer {
  margin-top: 11px;
  padding-top: 11px;
  border-top: 1px solid var(--c-blue100);
}

.cart__submit > button,
.mobile__only > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
  width: 100%;
}

.cart__submit > button:hover {
  background: var(--c-blue400);
}

.mobile__only {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
  padding: 5vw;
}

@media (max-width: 1024px) {
  .cart__content__filled {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mobile__only {
    display: none;
  }
}
