.header__container {
  display: grid;
  grid-template-columns: 120px 1fr minmax(95px, auto);
  grid-template-areas: 'space content sidebar';
  flex-basis: 110px;
  height: 110px;
  align-items: center;
}

.header__link__container {
  --right-padding: 5.9375rem;
  grid-column-start: content;
  grid-column-end: sidebar;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--right-padding);
  position: relative;
}

.logo__link {
  grid-area: space;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__link {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.active {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  flex-grow: 0;
  font-weight: bold;
  color: var(--c-gray100);
}

@media (max-width: 768px) {
  .header__container {
    display: none;
  }
}
