.main {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  flex-grow: 1;
  overflow: hidden auto;
  position: relative;
  z-index: 1;
}

.container {
  position: sticky;
  bottom: 0px;
  z-index: 100;
  pointer-events: none;
  transform: translateZ(1px);
  display: block;
  padding: 0px 1.5rem 1.5rem 0px;
}

.content {
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  border: 0px;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease 0s;
  pointer-events: auto;
  padding: 0px;
  box-shadow: rgb(0 19 28 / 28%) 0px 5px 30px;
}

.button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
  background: var(--c-gray100);
  margin: 0px;
  padding: 0px;
}

.list__container {
  pointer-events: auto;
  background: var(--c-gray100);
  box-shadow: var(--card-shadow);
  width: 20.625rem;
  padding: 1.875rem;
  max-width: 90vw;
  color: var(--c-gray500);
  margin-bottom: 16px;
}

.list__header {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6875;
  margin: 0px;
  font-size: 1.3125rem;
  color: var(--c-white);
}

.list {
  margin-bottom: 5px;
}

.list > :not(:last-child) {
  border-bottom: var(--c-white-transparent-05) 1px solid;
}

.list__item__not__completed {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  height: 52px;
  cursor: pointer;
}

.list__item__not__completed:hover > div,
.list__item__not__completed:hover > p {
  opacity: 0.8;
}

.list__item__not__completed > div {
  display: flex;
  color: var(--c-white);
  transition: opacity 0.3s ease 0s;
  opacity: 0.5;
}

.list__item__not__completed > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px 0px 0px 8px;
  color: var(--c-white);
  flex: 1 1 auto;
  transition: opacity 0.3s ease 0s;
  opacity: 0.5;
}

.list__item__not__completed > svg {
  color: var(--c-white);
  opacity: 0.5;
}

.list__item__completed {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  height: 52px;
  cursor: auto;
}

.list__item__completed > div {
  display: flex;
  color: var(--c-white);
  transition: opacity 0.3s ease 0s;
  opacity: 1;
}

.list__item__completed > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px 0px 0px 8px;
  color: var(--c-white);
  flex: 1 1 auto;
  transition: opacity 0.3s ease 0s;
  opacity: 1;
}

.list__container > div:last-of-type > a {
  font-size: 0.6875rem;
  font-family: var(--f-text);
  color: var(--c-white);
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease 0s;
}
