.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  flex-grow: 1;
  overflow: hidden auto;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .main {
    max-height: unset;
  }
}