.page__container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.page__container::before,
.page__container::after {
  content: '';
}

.page__content {
  display: flex;
  flex-grow: 1;
  max-width: 90vw;
}

.page__inner {
  margin-top: 1.3125rem;
  flex-grow: 1;
  margin-bottom: 7.5rem;
  max-width: 90vw;
}

.page__main > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray500);
  margin: 8px 0px;
}

.page__main > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 1rem;
  word-break: break-word;
}

.page__main > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px 0px 1rem;
  max-width: 28.125rem;
}

.page__center {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.page__center > :not(:last-child) {
  margin-bottom: 3.125rem;
}

.page__center__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.875rem, 1fr));
  gap: 0.875rem;
}

.add__section {
  display: block;
  position: unset;
}

.add__section__title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.add__section__title > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px;
  color: var(--c-gray500);
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.add__section__button {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.add__section__grid {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}

.add__button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  border: 0px;
  padding: 0px 1.25rem 0px 0px;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease 0s;
}

.add__button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentcolor;
  margin-right: 1.25rem;
  flex-shrink: 0;
}

.add__section__grid > button > span > svg {
  color: #fff;
}

.page__bar > div:last-of-type {
  display: none;
}


.page__bar > div:first-of-type {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.card__button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  padding: 10px;
  justify-content: flex-start;
  color: var(--c-gray100);
  min-height: 3.75rem;
}

.card__button:hover {
  border-color: var(--c-blue200);
}

.card__button > img {
  object-fit: contain;
  object-position: center center;
  width: 2.25rem ;
  height: 2.25rem ;
}

.card__button > span {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px !important;
  margin-right: 10px !important;
  display: block;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  background: none !important;
}

.card__desc {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.card__desc > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px;
  color: var(--c-gray500);
  flex-grow: 1;
}

@media (max-width: 768px) {
  .page__inner {
    margin-top: 0;
  }

  .page__bar {
    margin-top: 5vw;
    margin-bottom: 2vw;
  }

  .page__bar > div:first-of-type {
      display: none;
  }

  .page__bar > div:last-of-type {
      display: block;
  }
}
