.article {
  position: relative;
}

.article > div {
  margin-bottom: 40px;
}

.article > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  margin-bottom: 10px;
}

.article > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

@media (max-width: 768px) {
  .article {
    padding-left: 20px;
  }

  .article > div {
    margin-bottom: 10px;
  }

  .article > div > svg {
    width: 1.375rem;
    min-width: 22px;
  }
}