.container {
  background: white;
  display: grid;
  max-height: 320px;
  box-shadow: var(--card-shadow);
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow 0.2s ease 0s;
  border: 2px solid transparent;
  grid-template-rows: auto;
}

.head {
  display: flex;
  height: 62px;
}

.svg {
  margin: 1rem 0 0 1rem;
}

.head > div:last-of-type {
  margin: 1.5625rem;
  flex-shrink: 0;
}

.content {
  margin: 1rem 1.2rem 1.75rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.content > strong {
  white-space: pre-wrap;
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.23;
  margin-bottom: 2.8125rem;
  word-break: break-word;
  color: var(--c-black);
}

.content > span {
  white-space: pre-wrap;
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  display: flex;
  align-items: flex-start;
}
