.container {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid var(--c-blue100);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.container > :not(:last-child) {
  margin-right: 1rem;
}

.text__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  overflow: hidden;
}

.text__primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 32px;
}

.text__primary > p {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: black;
  font-weight: bold;
}

.text__primary > div {
  display: flex;
}

.text__primary > div > button,
.connect__btn  {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 27px;
  background: transparent;
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  transition: background 0.3s ease 0s, border 0.3s ease 0s;
  white-space: nowrap;
  padding: 5px 1rem;
  min-width: 6rem;
  color: var(--c-gray500);
  font-weight: normal;
}

.text__primary > div > button:hover,
.connect__btn:hover {
  border-color: var(--c-blue400);
}

.text__secondary {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.text__secondary > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
}
