.section__title {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
}

.card__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 1rem;
}

.card__container > *:not(:last-child) {
  margin-bottom: 9px;
}

.card {
  break-inside: avoid;
  transform: translateZ(1px);
}

.card__content {
  display: flex;
  align-items: center;
  padding: 6px 13px;
  border-radius: 4px;
  cursor: pointer;
  overflow-x: hidden;
  border: 2px solid var(--c-blue100);
  transition: border-color 0.3s ease 0s;
}

.card__content:hover {
  border-color: var(--c-blue200);
}

.card__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 0.8125rem;
}

.card__icon > div {
  height: 100%;
  display: flex;
  border: 1px solid var(--c-blue100);
  background-color: var(--c-gray300);
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.0625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0px;
  font-weight: 700;
  font-family: var(--f-text);
  color: var(--c-gray500);
  border-radius: 50%;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  flex: 1 1 0%;
  margin-right: 0.5rem;
}

.card__info > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-gray100);
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__info > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-gray500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: flex-end;
}

.card__status > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--c-red500);
  display: flex;
}

.card__status > p > svg {
  margin-left: 0.625rem;
  align-self: center;
}
