.showcase__container {
  width: 100%;
}

.showcase__header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.showcase__header > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px;
  color: var(--c-gray500);
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.showcase__header > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  cursor: pointer;
  text-decoration: none;
}

.showcase__content {
  width: 100%;
  min-height: 13rem;
  background: var(--c-gray300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase__icons {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  align-items: center;
  height: 36px;
}

.showcase__icons > span > svg {
  stroke-width: 2;
}

.showcase__icons > :not(:last-child) {
  margin-right: 0.5rem;
}

.showcase__title {
  font-family: var(--f-text);
  font-style: normal;
  line-height: 1.6875;
  margin: 0px 0px 0.5rem;
  font-size: 1.0625rem;
  font-weight: bold;
  color: var(--c-black);
}

.shocase__description {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px 0px 0.5rem;
  font-size: 0.8125rem;
  text-align: center;
}

.showcase__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  min-width: 6rem;
  padding: 5px 42px;
  border: 2px solid var(--c-blue100);
  border-radius: 27px;
  background: transparent;
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s, border 0.3s ease 0s;
  margin-bottom: 0.5rem;
}

.showcase__button:hover {
  border-color: var(--c-blue400);
}

.showsite__content {
  display: grid;
  gap: 0.875rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}
