.field__grid {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 3.75rem;
}

.field__grid > :not(:last-child) {
  margin-bottom: 36px;
}

.grid__side {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.side__container {
  break-inside: avoid;
  transform: translateZ(1px);
}

.side__container > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
}

.field__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

.field__inner > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  grid-column-end: span 2;
  display: flex;
  align-items: center;
}

.field__inner > p > svg {
  margin-right: 0.5rem;
}

.see__last__post {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875rem 0.5rem 0.875rem 0.875rem;
  border: var(--c-blue100) 2px solid;
  border-radius: 4px;
  grid-column-end: span 2;
}

.see__last__post > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.see__last__post > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.see__last__post > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
}

.see__last__post > button > svg {
  margin-right: 0.5rem;
}

.swipe {
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  min-height: 3.4375rem;
  border-color: var(--c-blue100);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s ease 0s;
  width: 100%;
  grid-column-end: span 2;
}

.swipe__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 26px 13px;
}

.swipe__content {
  margin: 0px auto;
}

.swipe__container > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 1rem 0px 0px;
  font-size: 0.75rem;
  text-align: center;
}

.swipper {
  max-width: 140px;
}

@media (max-width: 1440px) {
  .field__grid {
    column-count: 1;
  }
}
