.react-pattern-lock__pattern-wrapper.error
        .react-pattern-lock__point-wrapper.selected
        .react-pattern-lock__point
        .react-pattern-lock__point-inner {
        background: black !important;
      }
      .react-pattern-lock__pattern-wrapper
        .react-pattern-lock__point-wrapper
        .react-pattern-lock__point
        .react-pattern-lock__point-inner {
        background: var( --c-blue500 )  !important;
      }

      .react-pattern-lock__pattern-wrapper.error
        .react-pattern-lock__connector-wrapper
        .react-pattern-lock__connector {
        background: black !important;
      }

      .react-pattern-lock__pattern-wrapper
        .react-pattern-lock__connector-wrapper
        .react-pattern-lock__connector {
        background: var( --c-blue500 )  !important;
      }