.header {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray500);
  margin: 8px 0px;
}

.container {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 3.75rem;
}

.container > :not(:last-child) {
  margin-bottom: 0px;
}

.side {
  break-inside: avoid;
  transform: translateZ(1px);
}

.side > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 1rem;
  word-break: break-word;
}

.side > div {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.side > div > :not(:last-child) {
  margin-bottom: 1.5rem;
}

.side > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.locked {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.locked > :not(:last-child) {
    margin-bottom: 3.125rem;
}

.locked__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.25rem, 1fr));
  gap: 0.875rem;
}

.card {
  padding: 1rem;
  border-radius: 4px;
  background: var(--c-white);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  transition: box-shadow 0.2s ease 0s;
  box-shadow: none !important;
}

.card > * {
  width: 100%;
}

.card::after {
  position: absolute;
  inset: 0px;
  content: "";
  pointer-events: none;
  border-radius: 4px;
  transition: all 0.2s ease 0s;
}

.overlay {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  background: rgba(247, 251, 253, 0.8);
  z-index: 1;
  border: 2px solid var(--c-blue100);
  cursor: default;
}

.overlay > div {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.overlay > div > svg {
  color: var(--c-blue500);
  margin-right: 0.75rem;
}

.overlay > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-blue500);
  font-weight: bold;
}

.card__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.card__content > :not(:last-child) {
  margin-bottom: 0.25rem;
}

.card__head {
  display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 30px;
}

.card__head > svg {
  color: var(--c-blue500);
}

.card__head > span {
  font-family: var(--f-text);
  font-style: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.6875rem;
  font-weight: bold;
  display: flex;
  padding: 2px 17px;
  border: 1px solid var(--c-blue100);
  border-radius: 2px;
  flex-shrink: 0;
}

.card__content > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  margin: 0.25em 0px 0px;
  color: var(--c-gray100);
  font-weight: bold;
  font-size: 1.0625rem;
  line-height: 1.3em;
  margin-bottom: 0.25rem;
}

.card__content > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.8125rem;
  line-height: 1.461;
  white-space: pre-line;
}

@media (max-width: 1440px) {
  .container {
    column-count: 1;
  }
}