.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  display: flex;
  flex-grow: 1;
  max-width: 90vw;
}

.inner {
  margin-top: 1.3125rem;
  flex-grow: 1;
  margin-bottom: 7.5rem;
  max-width: 90vw;
}

.arrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.arrow > div:first-of-type {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.arrow > div:last-of-type {
  display: none;
}

.main__desc {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
  margin: 8px 0;
}

.main__title {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 1rem;
  word-break: break-word;
}

.main__paragraph {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px 0px 3rem;
  max-width: 37.5rem;
}

.shared__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.shared__container > :not(:last-child) {
  margin-bottom: 3.125rem;
}

.section__title {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
}

.shared__people {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 9px 10px;
  width: 100%;
  position: relative;
}

.deputy {
  display: flex;
  align-items: center;
  padding: 6px 13px;
  border-radius: 4px;
  cursor: pointer;
  overflow-x: hidden;
  border: 2px solid var(--c-blue100);
  transition: border-color 0.3s ease 0s;
}

.deputy__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 0.8125rem;
}

.deputy__icon > div {
  display: flex;
  border: 1px solid var(--c-blue100);
  background-color: var(--c-gray300);
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.0625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0px;
  font-weight: 700;
  font-family: var(--f-text);
  color: var(--c-gray500);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.deputy__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  flex: 1 1 0%;
  margin-right: 0.5rem;
}

.deputy__info > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-gray500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deputy__shared {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: flex-end;
}

.deputy__shared > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-gray500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section__head {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.section__head > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
  margin-bottom: 0;
  flex-grow: 1;
}

.card {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}

.card > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  padding: 10px;
  justify-content: flex-start;
  color: var(--c-gray100);
  min-height: 3.75rem;
}

.card > button > img {
  object-fit: contain;
  object-position: center center;
  width: 2.25rem;
  height: 2.25rem;
}

.card > button > span {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
}
