.template__container {
  flex-grow: 1;
  display: flex;
  margin-left: 120px;
  margin-bottom: 6.25rem;
}

.template__content {
  max-width: 100%;
  margin-top: 1.3125rem;
  flex-grow: 1;
}

.template__arrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.template__arrow > div {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1024px) {
  .template__container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 768px) {
  .template__content {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .template__arrow {
    margin-top: 5vw;
    margin-bottom: 2vw;
  }
}
