.header__title {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.form__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.form__container > :not(:last-child) {
  margin-bottom: 0px;
}

.form__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.form__inner {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 3.75rem;
}

.form__inner > :not(:last-child) {
  margin-bottom: 36px;
}

.section {
  break-inside: avoid;
  transform: translateZ(1px);
}

.section__title {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
}

.section__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

.desc {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.8125rem;
  grid-column-end: span 2;
  max-width: 30rem;
}

.desc > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  text-decoration: underline;
  cursor: pointer;
}

.button__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0,0,2px);
}

.button__container > button:first-of-type:last-of-type {
  grid-column: 2;
}

.button__container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem;
  padding-bottom: 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease;
}

@media (min-width: 768px) {
  .button__container {
    position: -webkit-sticky;
    position: sticky;
    padding: 0;
    bottom: var(--p-spacing);
    margin-top: var(--p-spacing);
    margin-left: auto;
  }
}