.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  display: flex;
  flex-grow: 1;
  max-width: 90vw;
}

.inner {
  margin-top: 1.3125rem;
  flex-grow: 1;
  margin-bottom: 7.5rem;
  max-width: 90vw;
}

.main > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray500);
  margin: 8px 0px;
}

.main > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 1rem;
  word-break: break-word;
}

.main > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px 0px 1rem;
  max-width: 28.125rem;
}

.inner__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.inner__content > :not(:last-child) {
  margin-bottom: 3.125rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
  gap: 0.875rem;
}

.card__container {
  box-shadow: var(--card-shadow);
  padding: 1rem;
  border-radius: 4px;
  background: var(--c-white);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  transition: box-shadow 0.2s ease 0s;
}

.card__container:hover {
  box-shadow: var(--card-shadow-hover);
}

.card__container > * {
  width: 100%;
}

.card__container::after {
  position: absolute;
  inset: 0px;
  content: '';
  pointer-events: none;
  border-radius: 4px;
  transition: all 0.2s ease 0s;
}

.card__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.card__content > :not(:last-child) {
  margin-bottom: 0.25rem;
}

.card__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 30px;
}

.card__header > svg {
  color: var(--c-blue500);
}

.card__header > span {
  font-family: var(--f-text);
  font-style: normal;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.6875rem;
  font-weight: bold;
  display: flex;
  padding: 2px 17px;
  border: 1px solid var(--c-blue100);
  border-radius: 2px;
  flex-shrink: 0;
}

.card__title {
  font-family: var(--f-text);
  font-style: normal;
  margin: 0.25em 0px 0px;
  color: var(--c-gray100);
  font-weight: bold;
  font-size: 1.0625rem;
  line-height: 1.3em;
}

.card__description {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.8125rem;
  line-height: 1.461;
  white-space: pre-line;
}

.section__head {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.section__head > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px;
  color: var(--c-gray500);
  flex-grow: 1;
}

.section__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 0.875rem;
}

.message__card  {
  position: relative;
}

.message__content {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 10.75rem;
}

.message__button {
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  background: var(--c-white);
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  width: 100%;
  height: 100%;
  padding: 0.875rem;
  min-height: 8.5rem;
  display: grid;
  grid-template-rows: auto 1.25rem 3.5rem;
  grid-template-columns: 100%;
  align-items: start;
  justify-content: start;
  text-align: left;
}

.message__button:hover {
  border-color: var(--c-blue200);
}

.message__button > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray500);
  margin: 0px;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.message__head {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.message__head > span {
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 0.5rem;
}

.message__head > span > svg {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  max-height: 100%;
}

.message__head > p {
  font-family: var(--f-text);
  font-style: normal;
  margin: 0px;
  flex: 1 1 0%;
  color: var(--c-black);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow-wrap: break-word;
}

.message__menu {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: end;
}

.message__menu > span {
  font-size: 100%;
  font-family: inherit;
  background: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
  border-radius: 100%;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal {
  box-shadow: var(--card-shadow);
  display: flex;
  align-self: center;
  top: 100%;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  background: var(--c-white);
  min-width: 12.5rem;
  padding: 1rem;
  margin-top: 0.3125rem;
  border: 2px solid var(--c-white);
}

.modal__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.modal__content > :not(:last-child) {
  margin-bottom: 1rem;
}

.modal__content > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  background: none;
  color: var(--c-blue500);
}

.modal__content > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.modal__content > button > label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.modal__content > button:last-of-type {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  background: none;
  color: var(--c-red500);
}