.title {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 24px;
  word-break: break-word;
}

.description {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px 0px 30px;
  max-width: 660px;
}

.description > strong {
  color: var(--c-black);
}

.card__container {
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.card {
  background: white;
  display: grid;
  grid-template-rows: 2fr 3fr;
  min-height: 23rem;
  box-shadow: var(--card-shadow);
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow 0.2s ease 0s;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.card__top {
  flex-grow: 1;
  display: flex;
}

.card__icon {
  margin: 1.5625rem;
  flex-grow: 1;
  color: var(--c-gray500);
}

.card__price {
  margin: 1.5625rem;
  flex-shrink: 0;
}

.card__price > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--c-white);
  background: var(--c-gray100);
  padding: 6px 17px;
  font-family: var(--f-text);
  font-size: 16px;
  line-height: 1.62;
  font-weight: bold;
  border-radius: 2px;
  vertical-align: middle;
}

.card__bottom {
  margin: 1.5625rem;
  display: flex;
  flex-direction: column;
}

.card__bottom > strong {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 1.23;
  margin-bottom: 2.8125rem;
  word-break: break-word;
  color: var(--c-blue500);
  flex-grow: 1;
}

.card__bottom > span {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  display: flex;
  align-items: flex-end;
}
