.header {
  max-width: 45rem;
  margin-bottom: 3rem;
}

.header > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.header > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.info {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 3.75rem;
}

.side {
  break-inside: avoid;
  transform: translateZ(1px);
}

.side > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
}

.side > p:nth-of-type(2) {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-red500);
  font-weight: bold;
}

.list__container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 0px;
  margin: 0px 0px 3.125rem;
  flex-grow: 1;
}

.list__container > :not(:last-child) {
  margin-bottom: 5px;
}

.list__container > li > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  display: flex;
}

.list__container > li > p > svg {
  margin-right: 12px;
  flex-shrink: 0;
  margin-top: calc((1.6em - 12px) / 2);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.buttons > :first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  color: var(--c-red500);
}

.buttons > :first-of-type:hover {
  border-color: var(--c-blue200);
}

.buttons > :last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
  white-space: nowrap;
}

.buttons > :last-of-type:hover {
  background: var(--c-blue400);
}

@media (min-width: 768px) {
  .buttons {
    position: sticky;
    padding: 0px;
    bottom: var(--p-spacing);
    margin-top: var(--p-spacing);
    margin-left: auto;
  }
}

@media (max-width: 1440px) {
  .info {
    column-count: 1;
  }
}

@media (max-width: 768px) {
  .buttons {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
    padding: 5vw;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
