.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  margin-top: 3.125rem;
  margin-bottom: 10rem;
}

.step {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0;
  color: var(--c-gray500);
  text-align: right;
}

.back > div {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  text-align: center;
}

.head > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 0.75rem;
  word-break: break-word;
}

.head > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  max-width: 36rem;
}

.planContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(22.4375rem, 25rem));
  gap: 2.5rem 5.3125rem;
  justify-content: center;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.bottom > button {
  display: flex;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  flex-direction: column;
  align-items: flex-start;
}

.bottom > button > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.bottom > button > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  color: var(--c-blue500);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.bottom > button > p:last-of-type > img {
  margin-left: 0.75rem;
}

.back {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .back {
    flex-direction: column;
    align-items: flex-start;
  }

  .head {
    align-items: flex-start;
    text-align: left;
  }

  .planContainer {
    grid-template-columns: 1fr;
  }
}
