.sidebar__container {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  position: sticky;
  height: 100vh;
  top: 0px;
  z-index: 3;
  overflow-y: hidden;
}

.sidebar__content {
  flex-shrink: 0;
  background: var(--c-gray200);
  padding: 0 var(--p-spacing) 0;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 20.8125rem;
}

.sidebar__content::after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 20px;
  background: linear-gradient(
    to left,
    rgba(98, 131, 147, 0.1),
    rgba(98, 131, 147, 0)
  );
}

.sidebar__content > div {
  min-height: var(--p-spacing);
}

.sidebar__logo {
  display: flex;
  align-items: center;
  height: var(--h-header);
  min-height: 60px;
  margin-bottom: 1.875rem;
}

.sidebar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
  color: var(--c-gray100);
  width: 100%;
}

.sidebar__button:hover {
  border-color: var(--c-blue200);
}

.sidebar__button > svg {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .sidebar__container {
    overflow-y: unset;
    top: unset;
    position: static;
    height: unset;
  }

  .sidebar__content {
    display: none;
  }
}