.small__title {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray500);
  margin: 8px 0px;
}

.title {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 1rem;
  word-break: break-word;
}

.content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.content > :not(:last-child) {
  margin-bottom: 3rem;
}

.content > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  max-width: 28.125rem;
}

.article__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.625rem;
}

.article__container > article {
  position: relative;
}

.article__container > article > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0px 0px 10px;
}

.article__container > article > p:last-of-type{
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
}

.article__container > article > div {
  margin-bottom: 40px;
}

.article__container > div {
  position: absolute;
  top: 54px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: var(--c-blue100);
}

.card__container {
  min-height: 100px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.5rem;
  position: relative;
  margin-top: 3rem;
}

.card {
  background: white;
  display: grid;
  max-height: 320px;
  box-shadow: var(--card-shadow);
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow 0.2s ease 0s;
  border: 2px solid transparent;
  grid-template-rows: auto;
}

.top {
  display: flex;
  height: 62px;
}

.top > div {
  margin: 1rem 0px 0px 1rem;
}

.bottom {
  margin: 1rem 1.2rem 1.75rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.bottom > strong {
  white-space: pre-wrap;
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.23;
  margin-bottom: 2.8125rem;
  word-break: break-word;
  color: var(--c-black);
}

.bottom > span {
  white-space: pre-wrap;
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  display: flex;
  align-items: flex-start;
}

.button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.button > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}

.button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
}

@media (min-width: 768px) {
  .button {
    position: sticky;
    padding: 0px;
    bottom: var(--p-spacing);
    margin-top: var(--p-spacing);
    margin-left: auto;
  }
}
