.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  min-height: calc(100vh - 150px);
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.section {
  max-width: 50rem;
  margin: 0px auto;
}

.section > div {
  word-break: break-word;
}

.section > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 2rem 0px;
}

.section > div > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  line-height: 1.19;
  color: var(--c-gray100);
  word-break: break-word;
  margin: 2rem 0px;
  font-size: 3.25rem;
}

.section > div > h3 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  line-height: 1.19;
  color: var(--c-gray100);
  word-break: break-word;
  font-size: 1.3125rem;
  margin: 1.5rem 0px;
}
