.container {
  flex-shrink: 0;
}

.container > footer {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container > footer::before,
.container > footer::after {
  content: '';
}

.content {
  grid-column-start: left;
  grid-column-end: right;
  background: var(--c-gray100);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 10rem;
  grid-row-gap: 1.875rem;
  padding: 4.375rem 8.125rem 4.375rem 6.875rem;
  color: #6e8088;
  box-shadow: var(--card-shadow);
  border-radius: 2px 0 0 0;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 180px;
}

.box > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.93;
  color: currentColor;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.box > a:hover {
  text-decoration: underline;
}

.box > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.93;
  color: currentColor;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    padding: 2rem 5%;
  }
}