.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  display: flex;
  flex-grow: 1;
  max-width: 90vw;
}

.inner__container {
  max-width: 100%;
  margin-top: 1.3125rem;
  flex-grow: 1;
}

.arrow__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.arrow__container > div {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

.arrow__container > ap {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: var(--c-blue500);
}

.arrow__container > p:hover {
  text-decoration: underline;
}

.header {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.header__info {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header__logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.8125rem;
}

.header__logo > * {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.header__logo > div {
  display: flex;
  border: 1px solid var(--c-blue100);
  background-color: var(--c-gray300);
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.0625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0px;
  font-weight: 700;
  font-family: var(--f-text);
  color: var(--c-gray500);
}

.header__action {
  margin-top: 6px;
}

.header__action > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 1.5rem;
  color: var(--c-gray500);
}

.header__action > div {
  display: flex;
  margin-bottom: 1.5rem;
  position: relative;
}

.header__action > div > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  padding: 0px;
  background: none;
  color: var(--c-red500);
}

.header__action > div > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.header__action > div > button > label > svg {
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
  transition: all 0.2s ease 0s;
  transform: rotate(0deg);
}

.checkbox__container {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox__container > input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.checkbox__container > div {
  border: 2px solid var(--c-gray500);
  border-radius: 4px;
  flex-shrink: 0;
  background: white;
  color: rgb(167, 167, 167);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-basis: 24px;
  margin-right: 0.625rem;
}

.checkbox__container > div > * {
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}

.checkbox__container > input:checked + .svg__container > * {
  opacity: 1;
  color: var(--c-blue500);
}

.checkbox__container > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

@media (max-width: 768px) {
  .inner__container {
    margin-top: 0px;
    margin-bottom: 3rem;
  }

  .arrow__container {
    margin-top: 5vw;
    margin-bottom: 2vw;
  }
}

.form {
  margin-bottom: 48px;
}

.form__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
  min-height: 200px;
}

.form__container > :not(:last-child) {
  margin-bottom: 48px;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__header > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 8px;
  color: var(--c-gray500);
}

.section__info {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  padding: 10px 0px;
  border-bottom: 2px solid var(--c-blue100);
  align-items: center;
}

.section__info > :not(:last-child) {
  margin-right: 0.625rem;
}

.primary {
  flex-grow: 1;
  align-self: center;
}

.primary > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  font-size: 1.3125rem;
  color: var(--c-gray100);
  line-height: 1.4em;
}

.primary > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: var(--c-gray500);
  margin: 0px;
  line-height: 1.4em;
}

.section__buttons {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
}

.section__buttons > :not(:last-child) {
  margin-right: 0.625rem;
}

.radio__button {
  position: relative;
  display: flex;
  align-items: center;
}

.radio__button > input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.selected {
  border: 2px solid var(--c-blue100);
  border-radius: 9999px;
  font-family: var(--f-text);
  cursor: pointer;
  flex-shrink: 0;
  background: white;
  color: var(--c-gray500);
  font-size: 1rem;
  padding: 0.4375rem 2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio__button > input:checked + .selected {
  border-color: var(--c-blue500);
  color: var(--c-blue500);
  font-weight: bold;
}

.divider {
  position: relative;
  margin: 0.875rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: left / right;
}

.divider > span {
  background: var(--c-white);
  padding: 0px 0.875rem;
  color: var(--c-gray500);
  margin: 0px auto;
}

.divider > span > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0px;
}

.divider > hr {
  border: none;
  height: 2px;
  background: var(--c-blue100);
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -1px;
  right: 0px;
  z-index: -1;
}
