.form__container {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 5.8125rem;
}

.left__side,
.right__side {
  break-inside: avoid;
  transform: translateZ(1px);
}

.left__side > :not(:last-child) {
    margin-bottom: 36px;
}

.left__side > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

.p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
} 

.right__side > div {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.button__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.button__container > button:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  color: var(--c-blue500);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease 0s;
}

.button__container > button:last-of-type {
  display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    padding: 0.875rem 0.875rem 0.9375rem;
    text-align: center;
    border: none;
    background: var(--c-blue500);
    color: var(--c-white);
    font-family: var(--f-text);
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s ease 0s;
}

@media (min-width: 768px) {
  .button__container {
      position: sticky;
      padding: 0px;
      bottom: var(--p-spacing);
      margin-top: var(--p-spacing);
      margin-left: auto;
  }
}



