.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: var(--space) minmax(0, 1fr) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.container > form {
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

.step {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0;
  color: var(--c-gray500);
  text-align: right;
}

.container > form > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  margin-bottom: 50px;
}

.center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 8.125rem;
  margin-bottom: 3.125rem;
}

.leftSide > p,
.rightSide > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
}

.socialButtons {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.leftSide > div > *:not(:last-child),
.rightSide > div > *:not(:last-child) {
  margin-bottom: 10px;
}

.leftSide > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--c-blue100);
  border-radius: 2px;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  background: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  position: relative;
  width: 100%;
  color: var(--c-black);
}

.leftSide > div > button > svg {
  position: absolute;
  left: 12px;
}

.rightSide > div {
  margin-bottom: 22px;
}

.rightSide > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.rightSide > p:last-of-type > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: var(--c-blue500);
}

.rightSide > p:last-of-type > a:hover {
  text-decoration: underline;
}

.button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0, 0, 2px);
}

.button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem;
  padding-bottom: 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.button > button:first-of-type:last-of-type {
  grid-column: 2;
}

@media (max-width: 1440px) {
  .button {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .center {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    grid-gap: 8.125rem 8.125rem;
  }

  .button {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    padding: 5vw;
    width: 100%;
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox > input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.checkbox > div {
  border: 2px solid var(--c-gray500);
  border-radius: 4px;
  width: 28px;
  height: 28px;
  flex-basis: 28px;
  flex-shrink: 0;
  background: white;
  color: rgb(167, 167, 167);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.checkbox > div > svg {
  color: var(--c-blue500);
}

.checkbox > div > svg {
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}

.checkbox > input:checked + .checkbox > div > svg {
  opacity: 1;
}