.container {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
}

.container::before,
.container::after {
  content: '';
}

.content {
  margin: 0 var(--p-content);
  position: relative;
  margin-bottom: 2.75rem;
}

.leftSide {
  display: flex;
  align-items: flex-start;
  width: calc(50% - 4rem);
}

.block {
  display: block;
}

.before {
  position: relative;
  padding: 43px 56px 43px 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.before::before {
  content: '';
  border: 2px solid var(--c-blue100);
  position: absolute;
  z-index: -1;
  top: 0;
  left: var(--p-button);
  right: -19px;
  bottom: 0;
}

.before > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  font-size: 4.125rem;
  line-height: 1.16;
  letter-spacing: 0;
  margin-bottom: 1.825rem;
}

.before > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  margin-bottom: 27px;
}

.before > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem;
  padding-bottom: 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease;
  background-color: #ee984d;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: var(--p-button);
}

.before > button:hover {
  background-color: #eb862d;
}

.before > a {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: var(--c-blue500);
  display: flex;
  align-items: center;
  margin-left: calc(2 * var(--p-button));
}

.before > a:hover {
  text-decoration: underline;
}

.before > a > img {
  margin-left: 0.5rem;
}

.rightSide {
  position: absolute;
  right: 0;
  top: 0;
  width: 49%;
  height: 100%;
  overflow: hidden;
}

.rightSide > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 15%;
}

/* section {
  display: block;
  z-index: 9;
  position: absolute;
  right: -1.6875rem;
  top: 80%;
}

section > button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  border: 0;
  padding: 0;
  color: var(--c-blue500);
  background: none;
  font-family: var(--f-text);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.25rem;
  transition: color 0.3s;
  padding: 0;
  box-shadow: 0px 5px 30px rgb(0 19 28 / 28%);
} 

section > button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  background: currentColor;
  margin-right: 1.25rem;
  flex-shrink: 0;
} */

@media (max-width: 768px){
  .content {
    margin: 0;
    margin-top: 13rem;
    margin-bottom: 2rem;
  }

  .leftSide {
    width: 100%;
  }

  .before {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 20px 0;
  }

  .before::before {
    top: -5rem;
    bottom: 40%;
  }

  .before > h1 {
    font-size: 3.25rem;
    margin-bottom: 1rem;
  }

  .before > a {
    margin-left: 0;
  }

  .rightSide {
    top: unset;
    bottom: 100%;
    width: 80%;
    max-height: 30vh;
  }

  .rightSide > img {
    object-position: center 15%;
  }
}