.field__container {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0.875rem 0.5rem 0.875rem 0.875rem;
  transition: box-shadow 0.2s ease 0s;
  cursor: pointer;
  box-shadow: var(--card-shadow-light);
  position: relative;
  grid-column-end: span 2;
}

.field__error {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0.875rem 0.5rem 0.875rem 0.875rem;
  transition: box-shadow 0.2s ease 0s;
  cursor: pointer;
  box-shadow: var(--card-shadow-light);
  position: relative;
  grid-column-end: span 2;
}

.field__error::after {
  content: "";
  border-radius: 4px;
  position: absolute;
  inset: 0px;
  pointer-events: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
}

.field__error::after {
  border-color: var(--c-red500);
}



.field__container::after {
  content: "";
  border-radius: 4px;
  position: absolute;
  inset: 0px;
  pointer-events: none;
  border: 2px solid transparent;
  transition: border-color 0.2s ease 0s;
}

.field__container:hover {
  box-shadow: var(--card-shadow-light-hover);
}

.field__container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(100% - 36px);
}

.label {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.label > strong {
  color: var(--c-gray100);
}

.label__v2__one {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  color: var(--c-gray500);
  margin: 0px 0px 5px;
  line-height: 1em;
  font-size: 0.75rem;
}

.label__v2__two {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  line-height: 1.31;
  color: var(--c-gray100);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
