.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  min-height: calc(100vh - 150px);
}

@media (max-width: 768px){
  .main {
      min-height: 100vh;
  }
}