@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --c-blue50: #f7fbfd;
  --c-blue100: #e5f2f8;
  --c-blue200: #99cbe4;
  --c-blue300: #66b1d7;
  --c-blue400: #3397c9;
  --c-blue500: #007dbc;
  --c-blue600: #006496;
  --c-gray100: #00131c;
  --c-gray200: #f9fcfe;
  --c-gray300: #f8fcfe;
  --c-gray500: #657795;
  --c-white: #ffffff;
  --c-white-transparent-05: rgba(255, 255, 255, 0.05);
  --c-white-transparent-2: rgba(255, 255, 255, 0.2);
  --c-black: #000;
  --c-red100: #fddfe3;
  --c-red200: #fbc0c7;
  --c-red300: #f9a0ab;
  --c-red400: #f7818f;
  --c-red500: #f56173;
  --c-red600: #c44e5c;
  --c-orange: #ec8c45;
  --f-heading: Lora, serif;
  --f-text: Lato, sans-serif;
  --p-button: 1.6875rem;
  --card-shadow-light: 0px 2px 10px rgba(98, 131, 147, 0.21);
  --card-shadow-light-hover: 0px 5px 15px rgba(98, 131, 147, 0.21);
  --card-shadow-light-active: 0px 2px 15px rgba(98, 131, 147, 0.21);
  --card-shadow: 0px 5px 30px rgba(98, 131, 147, 0.21);
  --card-shadow-hover: 0px 10px 40px rgba(98, 131, 147, 0.28);
  --card-shadow-active: 0px 4px 10px rgba(98, 131, 147, 0.21);
  --p-content: 1.5625rem;
  --p-spacing: 2.625rem;
  --h-header: 100px;
  --width: 1290px;
  --space: minmax(5vw, calc((100% - var(--width)) / 2));
  --content: 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px){
  html {
    font-size: calc(100vw / 64);
    --p-content: 1.5625rem;
    --p-spacing: 2.625rem;
    --h-header: 100px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: calc(100vw / 90);
  }
}


@media (min-width: 1440px){
  html {
    font-size: 16px;
  }
}