.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8.125rem;
  margin-bottom: 9.375rem;
}

.title {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  margin-bottom: 50px;
}

.right__side > p:first-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--c-gray100);
  margin: 0;
  color: var(--c-gray500);
  margin-bottom: 22px;
}

.right__side > p:last-of-type {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  margin-bottom: 50px;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox > input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.tick {
  border: 2px solid var(--c-gray500);
  border-radius: 4px;
  width: 28px;
  height: 28px;
  flex-basis: 28px;
  flex-shrink: 0;
  background: white;
  color: #a7a7a7;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tick > svg {
  color: var(--c-blue500);
}

.tick > * {
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox > input:checked + .tick > * {
  opacity: 1;
}

.checkbox > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.left__side {
  display: flex;
  flex-direction: column;
}

.left__content {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
}

.left__content > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
  flex-grow: 1;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

.credit__cards {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  margin-bottom: 14px;
}

.credit__cards > :not(:last-child) {
  margin-right: 18px;
}

.pay {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
  width: 100%;
  grid-column-end: span 2;
}