.container {
  display: grid;
  grid-template-columns: var(--space) var(--content) var(--space);
  grid-template-areas: 'left center right';
  align-items: flex-start;
  padding: 3rem 0 5rem;
}

.container::before,
.container::after {
  content: '';
}

.content {
  margin: 0 var(--p-content);
  position: relative;
}

.leftSide {
  display: flex;
  align-items: flex-start;
  width: calc(50% - 4rem);
}

.leftSide > div {
  position: relative;
  padding: 43px 92px 43px 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.leftSide > div > h1 {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  color: var(--c-gray100);
  margin: 0;
  word-break: break-word;
  line-height: 1.16;
  letter-spacing: 0;
  margin-bottom: 1.825rem;
}

.leftSide > div > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
  margin-bottom: 27px;
}

.leftSide > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem;
  padding-bottom: 0.9375rem;
  text-align: center;
  border: none;
  background: var(--c-blue500);
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease;
  padding-left: 40px;
  padding-right: 40px;
}

.rightSide {
  position: absolute;
  right: 0;
  top: 0;
  width: 49%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 0 3rem;
  }

  .content {
    margin-top: 13rem;
  }

  .leftSide {
    width: 100%;
  }

  .leftSide > div {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 43px 0;
  }
  
  .leftSide > div > h1 {
    font-size: 3.25rem;
    margin-bottom: 1rem;
  }

  .rightSide {
    top: unset;
    bottom: 100%;
    width: 80%;
    max-height: 30vh;
  }

  .rightSide > img {
    object-position: center 14%;
  }
}