.nav__container {
  display: flex;
  break-inside: avoid;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.nav__container > :not(:last-child) {
  margin-bottom: 20px;
}

.nav__link {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link > svg {
  margin-right: 10px;
  flex-shrink: 0;
}

.nav__link:nth-of-type(1) > svg,
.nav__link:nth-of-type(2) > svg,
.nav__link:nth-of-type(3) > svg,
.nav__link:nth-of-type(6) > svg,
.nav__link:nth-of-type(7) > svg,
.nav__link:nth-of-type(8) > svg {
  margin-left: -3px;
}

.nav__separator {
  margin: 0;
  height: 1px;
  width: calc(100% + 2 * var(--p-spacing));
  background: var(--c-blue100);
  border: none;
  margin-left: calc(var(--p-spacing) * -1);
  margin-right: calc(var(--p-spacing) * -2);
}

.selected {
  font-family: var(--f-text);
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875;
  margin: 0px;
  cursor: pointer;
  text-decoration: none !important;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--c-gray100);
  stroke-width: 2px;
}
