.form__container {
  break-inside: avoid;
  flex-direction: column;
  display: block;
  column-count: 2;
  column-gap: 7.5rem;
  margin-bottom: 3.75rem;
}

.form__container > :not(:last-child) {
  margin-bottom: 36px;
}

.title {
  font-family: var(--f-heading);
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1.19;
  color: var(--c-gray100);
  margin: 0px 0px 3.125rem;
  word-break: break-word;
}

.contents {
  break-inside: avoid;
  transform: translateZ(1px);
}

.contents__title {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 22px;
  color: var(--c-gray500);
}

.desc {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 3.125rem;
  flex-grow: 1;
}

.list > :not(:last-child) {
  margin-bottom: 5px;
}

.list__item > p {
  font-family: var(--f-text);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875;
  color: var(--c-gray500);
  margin: 0px;
  display: flex;
}

.list__item > p > svg {
  margin-right: 12px;
  flex-shrink: 0;
  margin-top: calc((1.6em - 12px) / 2);
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: calc((100% - 7.5rem) / 2);
  padding-top: 2rem;
  margin-left: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, 2px);
}

.buttonContainer > button:first-of-type:last-of-type {
  grid-column: 2 / auto;
}

.buttonContainer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 0.875rem 0.9375rem;
  text-align: center;
  border: none;
  color: var(--c-white);
  font-family: var(--f-text);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease 0s;
  background: var(--c-red500);
}

.buttonContainer > button:hover {
  background: var(--c-red400);
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 9px;
  margin-bottom: 23px;
}

@media (min-width: 768px) {
  .buttonContainer {
    position: sticky;
    padding: 0px;
    bottom: var(--p-spacing);
    margin-top: var(--p-spacing);
    margin-left: auto;
  }
}
