.pop__error {
  display: block;
  position: absolute;
  top: 0px;
  padding: 8px 12px;
  font-weight: bold;
  break-inside: avoid;
  transform: translateY(calc(-100% - 15px));
  backface-visibility: hidden;
  animation: 0.2s ease-in-out 0s 1 normal none running animation-1o99zxq;
  font-family: var(--f-text);
  color: var(--c-red500);
  box-shadow: var(--card-shadow);
  background: var(--c-white);
  max-width: 15.625rem;
  right: 0px;
  text-align: right;
}

.pop__error::after {
  content: '';
  display: block;
  border-width: 5px;
  border-style: solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image: initial;
  position: absolute;
  border-top-color: var(--c-white);
  top: 100%;
  border-right-color: var(--c-white);
  right: 0px;
}
